<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>White Chalk.ttf</string>
		<string>AniTypewriter.ttf</string>
		<string>Christmas School.otf</string>
		<string>Jurassic.ttf</string>
		<string>JungleFever.ttf</string>
	</array>
</dict>
</plist>
